################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/Juego de Pokemon/.vs/Juego de Pokemon/FileContentIndex/27bcd4a8-0c1d-49cd-9e0f-f9e9479a4f4e.vsidx
*.vsidx
.vs/
.bin/
.obj/