@model IEnumerable<Juego_de_Pokemon.Models.Usuario>

@{
    ViewData["Title"] = "Lista de Usuarios";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Lista de Usuarios</h2>

<table class="table">
    <thead>
        <tr>
            <th>Cuenta de Usuario</th>
            <th>Opciones</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.CuentaUsuario)</td>
                <td>
                    <a asp-action="Editar" asp-route-id="@item.Id">Editar</a> |
                    <a asp-action="Eliminar" asp-route-id="@item.Id">Eliminar</a>
                </td>
            </tr>
        }
    </tbody>
</table>
