@model Juego_de_Pokemon.Models.Usuario
@{
    ViewData["Title"] = "Iniciar sesión";
}

<h1 class="text-center">@ViewData["Title"]</h1>


<form asp-action="Login" method="post">
    <div class="form-group">
        <label for="CuentaUsuario">Usuario:</label>
        <input asp-for="CuentaUsuario" class="form-control" />
        <span asp-validation-for="CuentaUsuario" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label for="Password">Contraseña:</label>
        <input asp-for="ContraseñaHash" name="password" type="password" class="form-control" />
        <span asp-validation-for="ContraseñaHash" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-primary">Iniciar Sesión</button>
</form>

@if (ViewBag.Error != null)
{
    <div class="alert alert-danger">@ViewBag.Error</div>
}
